Kestrel__Certificates__Development__Password="secret_password"
JwtSettings__AccessTokenSecret="secret_access_jwt"
JwtSettings__RefreshTokenSecret="secret_refresh_jwt"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=todoapi
TodoApiDB=Host=db;Database=todoapi;Username=postgres;Password=password